body {
    background-color: #01579b;
    font-family: 'Raleway', sans-serif;
}

nav.navbar a.navbar-brand {
    color: #fff;
}

nav.navbar a.navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: rgb(187, 187, 187);
}

img#imgplace {
    padding: 16px;
    border-radius: 30px;
}